nav {
    background-color: #eab919;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    color: #fbfbfb;
    padding: 20px 16px;
    text-align: center;
    text-decoration: none;
    font-size:x-large;

}

nav ul li a:hover {
    background-color: #ffc560;
}

nav img {
    max-width: 150px;
    display: block;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav img:hover{
    transform: translateY(-5px);
}

body {
    font-family: Arial, sans-serif;
    background-color: #fbfbfb;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 20px;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    max-height: max-content;
}

.texto-oculto {
    display: none;
    margin-top: 0px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: #fbfbfb;
    background-color: #eab919;
    border: 10px solid #d2a616;
    text-align: center;
    align-content: center;
    grid-column: span 5;
    max-width: 600px;
    overflow: hidden; 
    padding: 0;
}

.texto-oculto img {
    height: auto;
    max-height: 200px;
    display: block;
    width: 100%;
    object-fit: cover;
    margin: 0;
    margin-bottom: 5px;
    border-bottom: 10px solid #d2a616;
}

.texto-oculto:target {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.botao {
    width: 65%;
    display: inline-block;
    padding: 40px 40px;
    background-color: #ffc560;
    color: #fbfbfb;
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
}

.botao:hover {
    background-color: #ffd690;
    color: #ff9a00;
    transform: translateY(-5px);
}

.botao:active {
  transform: scale(0.90);
}


@media(max-width:768px){
    nav{
        padding: 0 10px;
    }

    nav img{
        max-width: 100px;
    }

    nav ul li a{
        font-size: large;
        padding: 15px 8px;
    }


    .container{
        grid-template-columns: repeat(2, 1fr);
    }

    .texto-oculto {
        grid-column: span 2; 
        font-size: 18px; 
        border: 5px solid #d2a616;
        padding: 15px; 
        max-width: 100%; 
    }

    .texto-oculto img {
        border-bottom: 5px solid #d2a616; 
        max-height: 150px;
    }

}