nav {
    background-color: #eab919;
    height: 70px;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;

}

nav ul li a:hover {
    background-color: #fec300;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

nav img {
    float:left;
    max-height: 65px;
    width: auto;
}

body {
    background-color: #fbfbfb;
}

.container{

    position: relative;
    margin: 15px;
    align-content: center;
    background-color: blanchedalmond;
    border-radius: 15px;
    display: flex;
    text-align: right;

}

.card{

    margin: 20px;
    overflow: hidden;
    text-align: center;

}


.card img {
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.img-circulo{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    background-color: aqua;
}